body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1F2937;
    min-width: auto;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    flex-flow: row wrap;
    list-style-type: none;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
}

.intro {
    display: flex;
    flex: auto;
    flex-direction: row;
    background-color: #1F2937;
    min-width: auto;
    font-size: 18px;
    color: #E5E7EB;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

button {
    background-color: #3882F6;
}

.info {
    display: flex;
    flex: auto;
    flex-direction: column;
}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.productDisplay {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.quote {
    display: flex;
    flex: auto;
    background-color: #e5e7eb;
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.action {
    background-color: #3882F6;
}

footer {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
}